################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transaction.Microservie/Microservice.Transaction/obj
/ProductsMicroservice/ProductsMicroservice/obj
/Microservice.Gateway/obj
/.vs
